#mainPageInfo {
    text-align: center;
}

body {
    background-color: #FBFBFF;
}

#login_form {
    text-align: center;
    border: 5px solid #ccdcff;
    background-color: #e0e8ff;
    padding: 30px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal_detail_form_field {
    background-color: #F9F9FF;
    margin-bottom: 10px;
}

.modal_detail_form_label {
    background-color: #ECECFF;
    font-weight: bold;
    margin-bottom: 5px;
}

#modal_form_footer {
    background-color: #f8f8ff;
    padding-left: 16px;
}

#telegram_link_block {
    margin-top: 30px;
    text-align: center;
}

#navbar_current_username {
    color: blue;
}
