<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'main_page' %}">DN</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'map_page' %}">Map<span class="sr-only">(current)</span></a>
      </li>
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--      </li>-->





      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Docs</a>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Statistics</a>
      </li>

    </ul>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li>
            <a class="nav-link ms-auto" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a>
        </li>
    </ul>

  </div>
</nav>