{% extends 'base.html' %}


{% block title %}
    Оповещение о стихийных бедствиях
{% endblock %}


{% block content %}

    <div id="mainPageInfo">
        <h3>Оповещение о стихийных бедствиях</h3>
        <p>
            Данный сервис предназначен для ...
        </p>
        <p>
            <a href="#">Карта</a> <br>
            <a href="#">API</a> <br>
            <a href="#">Документация</a> <br>
            <a href="#">Telegram Bot</a> <br>
            <a href="#">Telegram канал</a> <br>
            <a href="#">Github</a> <br>
            <a href="#">Heroku</a> <br>
        </p>
    </div>

{% endblock %}
