{% extends 'base.html' %}
{% load static %}


{% block title %}
    Map Page
{% endblock %}


{% block content %}

<h2>Map Page</h2>


<!--    Map conatiner-->
<div id="map" style="width: 600px; height: 400px"></div>

<!-- modal_point_create -->
<div class="modal fade" id="modal_point_create" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
                <form id="create_point_form">
    <div class="modal-content">
        content
      <div class="modal-header">
          header
        <h5 class="modal-title" id="modal_point_create_label">Create new point</h5>
        <button type="button" id="test_x" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<!--        TODO change form-->
        Enter the name of point


                  {% csrf_token %}
                  {{ create_point_form.as_p }}
   <input  name="coordinates" id="location_field" required>
<!--        TODO  type="hidden"-->
<!--          https://github.com/rhanmar/oi_projects_summer_2021/blob/0879ade24685b628624dce06698f8a0afd042000/camp-python-2021-find-me-develop/assets/map/js/event_reverse_geocode.js#L320-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" id="modal_point_create_confirm_button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
                         </form>
  </div>

</div>


<!-- modal_point_detail -->
<div class="modal fade" id="modal_point_detail" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
        content
      <div class="modal-header">
          header
        <h5 class="modal-title" id="modal_point_detail_label">Point detail</h5>
        <button type="button" id="test_x" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          NAME: <p id="modal_point_detail_name"></p>
          ID: <p id="modal_point_detail_id"></p>
          D LEVEL: <p id="modal_point_detail_disaster_level"></p>
          D TYPE: <p id="modal_point_detail_disaster_type"></p>
          Verified: <p id="modal_point_detail_verified"></p>
          CREATED: <p id="modal_point_detail_created_at"></p>
          LAST MODIFIED: <p id="modal_point_detail_modified_at"></p>

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal_point_detail_delete_button">Delete</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal_point_detail_edit_button">Edit</button>
<!--          <button type="submit" id="modal_point_detail_confirm_button" class="btn btn-primary">Confirm</button>-->
      </div>
    </div>

  </div>

</div>


<!-- modal_point_edit -->
<div class="modal fade" id="modal_point_edit" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form id="edit_point_form">
    <div class="modal-content">
        content
      <div class="modal-header">
          header
        <h5 class="modal-title" id="modal_point_edit_label">Edit point</h5>
        <button type="button" id="test_x" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Edit point


                  {% csrf_token %}
                  {{ create_point_form.as_p }}

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="modal_point_edit_confirm_button">Confirm</button>
{#          <button type="submit" id="modal_point_detail_confirm_button" class="btn btn-primary">Confirm</button>#}
      </div>
    </div>
    </form>
  </div>

</div>


{% endblock %}


{% block scripts %}

<!--Yandex map-->
<script
        src="https://api-maps.yandex.ru/2.1/?apikey=eca8121e-a2ed-4826-9369-464e4ba79cab&lang=ru_RU"
        type="text/javascript">
</script>

<!--URLs-->
<script>
    const pointList = "{% url 'point-list' %}"
</script>

<!--Geocoder scripts-->
<script src="{% static 'js/geocoder.js'%}" type="text/javascript"></script>


{% endblock %}

